@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
blockquote {
    margin-left: 10em;
    padding: 1em;
    color: black;
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size: 2em;
    width: 70%;
    margin-right: 0;
}

body {
    margin: 0;
    background-color: rgb(255, 253, 228);
}

div.site {
    margin: 0;
    height: 85%;
    width: 100%;
    /* background-image: url('abuotback.jpg'); */
}

img#header {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    width: 100%;
    z-index: 5;
}

h2,
p {
    padding: 1em;
    color: black;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 1.3em;
    width: 80%;
    margin-right: 0;
    /* float: r; */
}

h2,
h3 {
    font-weight: 400;
    height: 7em;
    width: fit-content;
    float: left;
    color: rgb(9, 14, 54);
    font-size: 2em;
    width: 20%;
    font-family: 'Source Serif Pro', serif;
}

p#gal {
    font-weight: 400;
    height: 7em;
    width: fit-content;
    margin: auto;
    color: rgb(9, 14, 54);
    font-size: 2em;
    font-family: 'Source Serif Pro', serif;
}

h3 {
    padding-right: 1em;
}

h5 {
    font-size: 1em;
    font-weight: normal;
}

#aboutus,
#events {
    background-color: rgba(255, 253, 228, 0.651) !important;
}

#history,
#vision {
    background-color: rgb(245, 243, 218);
}

#e1,
#e2,
#e3 {
    display: block;
    margin-left: 20%;
    float: right;
}

.social {
    margin: 2.1em 0 0 0;
}

.social a {
    padding: 10px 15px;
}

.social a {
    height: 200px;
    width: 200px;
    background: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    transition: 0.3s;
}

#hi-img {
    width: 1000px;
    margin: auto
}

img {
    margin: 5px;
}

#vis {
    position: absolute;
    left: 2.35%;
}

#aims {
    top: 320%;
    position: absolute;
}

.galery {
    display: inline;
    width: 20%;
    height: 3%;
    margin-left: 1em;
    margin-bottom: 10em;
    margin-right: auto;
}

img#gal_img {
    width: 30%;
    height: 50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    background: #171c24;
    position: fixed;
    width: 100%;
}

.wrapper nav {
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

nav .content {
    display: flex;
    align-items: center;
}

nav .content .links {
    margin-left: 80px;
    display: flex;
}

.content .title a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.content .links li {
    list-style: none;
    line-height: 70px;
}

.content .links li a,
.content .links li label {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.content .links li label {
    display: none;
}

.content .links li a:hover,
.content .links li label:hover {
    background: #323c4e;
}

.content .links ul {
    position: absolute;
    background: #171c24;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.content .links li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.content .links ul li a {
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}

.content .links ul ul {
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}

.content .links ul li {
    position: relative;
}

.content .links ul li:hover ul {
    top: 0;
}